@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --cor-de-fundo: #0c0c0c;
  --verde: #ff5757;
  --branco: #ffffff;
  --botao-ativo: #282361;
  --botao-inativo: rgba(176, 19, 238, 0.5);
  --texto-fundo: rgba(11, 177, 168, 0.3);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: "Chakra Petch", sans-serif;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: left;
  width: 100%;
  font-size: 32px;
}

.titulo-principal span {
  color: var(--verde);
}

.botao {
  font-family: "Crakra Petch", sans-serif;
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
  border-top: none;
}

.botoes {
  display: block;
}


.ativo {
  background-color: var(--botao-ativo);
  border-bottom: 4xp solid var(--verde);
}

.abas-textos {
  background-color var(--texto-fundo);
  padding: 40xp;
  border-radius: 0 0 40xp 40xp;
}

.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo-titulo-principal {
  font-size: 28xp;
  text-aling: center;
}

.aba-conteudo-titulo-secundario {
  text-aling: center;
  color: var (--verde);
  text-transform: uppercase;
}

@media screen and (min-width: 768xp) {

  .botoes {
    display: flex;
  }

  .botao firts-child {
    border-radius: 40xp 0xp 0 0;
  }

  .botao:last-child {
    border-radius: 0 40xp 0 0;
  }
}